<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base</title>
    <link href="style.css" rel="stylesheet">
    <link href="about.css" rel="stylesheet">
</head>
<body>
<div class="nav-bar">
    <div class="header">
        <div class="nav">
            <img src="img/hisports.svg" alt="hisports">
            <ul class="menu">
                <li><a href="home.html">Home</a></li>
                <li><a href="gallery.html">gallery</a></li>
                <li><a href="inform.html">Info</a></li>
                <li><a href="aboutus.html">aboutus</a></li>
            </ul>
            <div class="buttons">
                <button class="btn">Sign In</button>
                <button class="btn">Join</button>
            </div>
        </div>
    </div>
</div>
<div class="wrap">
    <div class="world">
        <section class = "poster">
            <figure class = "slegi">
                <img src="img/snake.png">
            </figure>
            <h1 class = "poster-text">
                <p id="dynamic" class="lg-text">
                </p>
                <p class="sm-text">
                    Suin, Yohan, Haeseok, Chanmi |  SLE
                </p>
            </h1>
        </section>
    </div>
</div>

</body>

</html>
