<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="nav-bar">
    <div class="header">
        <div class="nav">
            <img src="img/hisports.svg" alt="hisports">
            <ul class="menu">
                <li><a href="home.html">Home</a></li>
                <li><a href="gallery.html">gallery</a></li>
                <li><a href="inform.html">Info</a></li>
                <li><a href="aboutus.html">aboutus</a></li>
            </ul>
            <div class="buttons">
                <button class="btn">Sign In</button>
                <button class="btn">Join</button>
            </div>
        </div>
    </div>
</div>
<div class="image-container">
    <img src="img/field.jpeg" alt="field" class="field-img">
    <img src="img/SportsMatching.svg" alt="Sports Matching" class="overlay-img">
</div>
<div class="card-container">
    <div class="card" onclick="openRoomInform()">
    <img src="img/soccer.jpg" alt="Soccer" class="place">
    <div class="card-content">
        <h3>카이퍼 축구 팀 모집!</h3>
        <div class="info">
            <p><img src="img/pin_icon.png" alt="pin" class="icon"> 양덕 체육공원</p>
            <p><img src="img/calender_icon.png" alt="calendar" class="icon"> 오늘(화) 16:00</p>
        </div>
        <div class="details">
            <p><img src="img/people_icon.png" alt="people" class="icon"> 8/18</p>
        </div>
    </div>
</div>
    <div class="card" onclick="openRoomInform()">
        <img src="img/soccer.jpg" alt="Soccer" class="place">
        <div class="card-content">
            <h3>카이퍼 축구 팀 모집!</h3>
            <div class="info">
                <p><img src="img/pin_icon.png" alt="pin" class="icon"> 양덕 체육공원</p>
                <p><img src="img/calender_icon.png" alt="calendar" class="icon"> 오늘(화) 16:00</p>
            </div>
            <div class="details">
                <p><img src="img/people_icon.png" alt="people" class="icon"> 8/18</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="openRoomInform()">
            <img src="img/soccer.jpg" alt="Soccer" class="place">
            <div class="card-content">
                <h3>카이퍼 축구 팀 모집!</h3>
                <div class="info">
                    <p><img src="img/pin_icon.png" alt="pin" class="icon"> 양덕 체육공원</p>
                    <p><img src="img/calender_icon.png" alt="calendar" class="icon"> 오늘(화) 16:00</p>
                </div>
                <div class="details">
                    <p><img src="img/people_icon.png" alt="people" class="icon"> 8/18</p>
                </div>
            </div>
        </div>
    <div class="card" onclick="openRoomInform()">
            <img src="img/soccer.jpg" alt="Soccer" class="place">
            <div class="card-content">
                <h3>카이퍼 축구 팀 모집!</h3>
                <div class="info">
                    <p><img src="img/pin_icon.png" alt="pin" class="icon"> 양덕 체육공원</p>
                    <p><img src="img/calender_icon.png" alt="calendar" class="icon"> 오늘(화) 16:00</p>
                </div>
                <div class="details">
                    <p><img src="img/people_icon.png" alt="people" class="icon"> 8/18</p>
                </div>
            </div>
        </div>

    <div class="card" onclick="openRoomInform()">
            <img src="img/soccer.jpg" alt="Soccer" class="place">
            <div class="card-content">
                <h3>카이퍼 축구 팀 모집!</h3>
                <div class="info">
                    <p><img src="img/pin_icon.png" alt="pin" class="icon"> 양덕 체육공원</p>
                    <p><img src="img/calender_icon.png" alt="calendar" class="icon"> 오늘(화) 16:00</p>
                </div>
                <div class="details">
                    <p><img src="img/people_icon.png" alt="people" class="icon"> 8/18</p>
                </div>
            </div>
        </div>

    <div class="card" onclick="openRoomInform()">
            <img src="img/soccer.jpg" alt="Soccer" class="place">
            <div class="card-content">
                <h3>카이퍼 축구 팀 모집!</h3>
                <div class="info">
                    <p><img src="img/pin_icon.png" alt="pin" class="icon"> 양덕 체육공원</p>
                    <p><img src="img/calender_icon.png" alt="calendar" class="icon"> 오늘(화) 16:00</p>
                </div>
                <div class="details">
                    <p><img src="img/people_icon.png" alt="people" class="icon"> 8/18</p>
                </div>
            </div>
        </div>

    <div class="card" onclick="openRoomInform()">
            <img src="img/soccer.jpg" alt="Soccer" class="place">
            <div class="card-content">
                <h3>카이퍼 축구 팀 모집!</h3>
                <div class="info">
                    <p><img src="img/pin_icon.png" alt="pin" class="icon"> 양덕 체육공원</p>
                    <p><img src="img/calender_icon.png" alt="calendar" class="icon"> 오늘(화) 16:00</p>
                </div>
                <div class="details">
                    <p><img src="img/people_icon.png" alt="people" class="icon"> 8/18</p>
                </div>
            </div>
        </div>

    <div class="card" onclick="openRoomInform()">
            <img src="img/soccer.jpg" alt="Soccer" class="place">
            <div class="card-content">
                <h3>카이퍼 축구 팀 모집!</h3>
                <div class="info">
                    <p><img src="img/pin_icon.png" alt="pin" class="icon"> 양덕 체육공원</p>
                    <p><img src="img/calender_icon.png" alt="calendar" class="icon"> 오늘(화) 16:00</p>
                </div>
                <div class="details">
                    <p><img src="img/people_icon.png" alt="people" class="icon"> 8/18</p>
                </div>
            </div>
        </div>
    <!-- 추가 카드 -->
</div>
<script>
    function openRoomInform() {
        window.location.href = 'roomInform.html';
    }
</script>
</body>
</html>
